<h3>Transmitir Boleto Unitário</h3>
<p>
    Este exemplo mostra como transmitir um boleto.<br />
    Obs: para montar objeto de exemplo: <a href="#" id="MenuMontarObjetoBoleto">MontarBoleto()</a>
</p>
<img src="~/Content/Img/TransmitirBoleto.png" class="img-responsive" />
<br /><br />

<p>
    Este exemplo mostra como transmitir um boleto e caso você tenha um token poderá usar.
</p>
<img src="~/Content/Img/TransmitirBoletoToken.png" class="img-responsive" />

<br /><br />
<p>
    <b>Exemplo de um retorno em Json com sucesso</b>
</p>
<img src="~/Content/Img/JsonGerarBoleto.png" class="img-responsive" />