<h3>Está parte e bem importante pois é onde você define a suas credenciais.</h3>
<p>
    Este é um exemplo com dados fictícios, você deve colocar os dados que representam a sua empresa.
</p>
<ul>
    <li>
        <b>Ambiente</b>: no caso dessa variável, quando você deixa ela como "dev" você está dizendo que vai executar teste em ambiente de homologação.
        Caso queira usar em produção deixe como vazia("").
    </li>
    <li><b>Versao</b>: aqui você define qual a versão da API que você vai utilizar("V3")</li>
    <li><b>AppKey</b>: este e um campo exclusivo de cada cliente("INT11111")</li>
    <li><b>Signature</b>: este e um campo exclusivo de cada cliente ("I2dsadlsadoaRdAl2IEzBrdsahdoHdsadohHod22123=")</li>
</ul>
<br />
<p>
    Segue um Exemplo abaixo de como se pode usar a configuração do cliente.
</p>

<img src="~/Content/Img/ConfiguracaoCliente.png" class="img-responsive" />