<h3>Como utilizar o pacote Nuget da Intermeio</h3>
<p>
    Como este pacote você podera gerar:
</p>
<ul>
    <li>Token</li>
    <li>Boleto Unitário</li>
    <li>Boletos em Lote</li>
</ul>
<p>
    Para utilizar o pacote Nuget dentro do Visual Studio siga as seguintes etapas:
</p>
<p>
    <b> Primeria Etapa:</b>
</p>
<ul>
    <li>1 - Clicar com o Botão direito do mouse em cima da referência do Projeto.</li>
    <li>2 - Escolher a opção: Manage Nuget Packages...</li>
    <li>3 - Pesquisar pelo nome do pacote API.Intermeio.</li>
    <li>4 - Selecionar o pacote.</li>
    <li>5 - Clicar em install.</li>
</ul>
<img src="~/Content/Img/InstalacaoNuget.png" class="img-responsive" />
<br />
<br />
<p>
    <b>Segunda Etapa:</b>
</p>
<ul>
    <li>Apenas confirmar a instalação</li>
</ul>
<img src="~/Content/Img/InstalacaoNuget2.png" class="img-responsive" />