<h3>Transmitir Boleto em Lote</h3>
<p>
    Este exemplo mostra como transmitir um boleto em lote.<br />
    Obs: para montar objeto de exemplo: <a href="#" id="MenuMontarObjetoBoleto">MontarBoleto()</a>
</p>
<img src="~/Content/Img/TransmitirBoletoLote.png" class="img-responsive" />
<br /><br />

<p>
    Este exemplo mostra como transmitir um boleto e caso você tenha um token poderá usar.
</p>
<img src="~/Content/Img/TransmitirBoletoLoteToken.png" class="img-responsive" />
<br /><br />
<p>
    <b>Exemplo de um retorno em Json com sucesso</b>
</p>
<img src="~/Content/Img/JsonGerarBoletoLote.png" class="img-responsive" />