<h3>Como gerar um Token</h3>
<p>
    Obs: É muito importante não esquecer de passar as <a href="#" id="MenuConfiguracaoDadosCliente">configurações do cliente</a> na hora de criar um objeto do tipo token Business.
</p>
<p>
    Segue exemplo abaixo:
</p>
<img src="~/Content/Img/GerarToken.png" class="img-responsive" />
<br />
<p>
    <b>Exemplo de um retorno em Json com sucesso</b>
</p>
<img src="~/Content/Img/JsonTokenSucesso.png" class="img-responsive" />